code/__pycache__/amorphous.cpython-38.pyc
code/__pycache__/bulk_oxidation.cpython-38.pyc
code/__pycache__/edge_oxidation.cpython-38.pyc
code/__pycache__/generate_GO.cpython-38.pyc
code/__pycache__/utilities.cpython-38.pyc